# Django #
############
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files #
################
*.bak

# If using celery-beat schedule file #
######################################
celerybeat-schedule

# PyCharm #
############
.idea/

# VS Code #
############
.vscode/

# Python #
############
*.py[cod]
*$py.class

# Distribution / packaging #
############################
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs #
##################
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports #
################################
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations #
################
*.mo
*.pot

# Django stuff: #
#################
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff: #
################
instance/
.webassets-cache

# Scrapy stuff: #
#################
.scrapy

# Sphinx documentation #
########################
docs/_build/

# PyBuilder #
#############
target/

# IPython Notebook #
####################
.ipynb_checkpoints

# pyenv #
#########
.python-version

# celery beat schedule file #
############################
celerybeat-schedule

# dotenv #
##########
.env

# virtualenv #
##############
venv/
ENV/

# Spyder project settings #
###########################
.spyderproject
.spyproject

# Rope project settings #
#########################
.ropeproject

# mkdocs documentation #
########################
/site

# mypy #
########
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker #
#####################
.pyre/